#root{
  height:200%;
  width:200%;
}
.App{
  text-align: center;
}

.chat-message {
 background-color : #f2f2f2;
  padding: 1em;
   max-height: 450px;
  overflow-y: auto;
  border-radius: 25px;
  color:rgb(0, 0, 0); align-items: flex-end;
  
  }
    .message-right {
  background: #3ccdd2; 
  border-radius: 25px;
  padding: 0.5cm 1em !important; 
  margin: 0.1em;
  }
  .message-left{ 
    background: #53f87a ;
   border-radius: 25px;
   padding: 0.5em 1em !important; 
    margin: 1em;
    align-items: start;
    width: 187.85px;
    height: 71.97px;

  }
    
    .message-text 
    {
   font-size: 20px; 
   padding: 0.5em 1em !important; 
    margin: 1em;
   }
    
    .logo-icon{
    
    height: 30px; 
    width: 50px; 
    border-radius: 200px;
    }
    .message-name{
   padding: 10px;
    }
 .right-content{
  flex-direction: column;
  align-items: end;
 }